body {
	background-color: #ddd;
	background: url("../img/background.jpg") repeat;
	background-size: 800px;
	margin: 0;
	font-family: candara;
	line-height: 1.5;

}

.card {
	width: 400px;
	margin: 30px auto;
	padding: 50px;
	background-color: #fff;
	box-shadow: 0 5px 10px #ccc;
	border-radius: 10px;
}

.card-photo {
	display: block;
	margin: 0 auto;
	padding: 20px;
	width: 250px;
	border-radius: 50px;
}

.card-title {
	font-size: 25px;
	text-align: center;
	margin: 5px;
	color: #1da721;
}

.card-subtitle {
	font-size: 20px;
	text-align: center;
	margin: 5px;
	color: #5579bb;
}

.card-text {
	font-size: 16px;
}

.card-list {
	padding-left: 0;
	list-style-position: inside;
	font-size: 16px;
}

a {
	font-size: 17px;
}

a:link {
	color: #7900d6;
}

a:visited {
	color: #1d5f1d;
}

a:hover {
	color: #b95dff;
}

a:active {
	color: #c1bdbd;
}

.less-margin {
	margin-top: 0;
}